html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}
.chatroom-frame{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chatroom-header{
    height: 50px;
    background-color: rgb(79,119,170);
    display: flex;
    color: #ffffff;
    align-items: center;
}
.chatroom-header .back-arrow, .chatroom-header .member-icon{
    width: 50px;
}
.chatroom-header .back-arrow{
    text-align: center;
}
.chatroom-header .title{
    flex: 1;
}
.chatroom-body{
    flex: 1;
    background-color: rgb(235,235,235);
    display: flex;
}
.chatroom-control{
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.chatroom-control input[type="text"]{
    border: 1px solid rgb(152,152,152);
    box-sizing: border-box;
    height: 35px;
    width: 100%;
}
.chatroom-control .send-button{
    background-color: rgb(181,230,29);
    color: #fff;
    border: 0;
    width: 100px;
    height: 35px;

}
.chatroom-control .input-name-wrapper{
    width: 100px;        
}
.chatroom-control .input-message-wrapper{
    flex: 1;
}
.chatroom-control>*{
    margin:0 5px;
}
.chatroom-frame ul{
    margin: 0;
    padding: 0;
    width:100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.chatroom-frame ul li{
    margin: 5px;
}

.chatroom-body .chat-content{
    box-sizing: border-box;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;  
    max-width: 300px;      
}
.others-message{
    align-self:flex-start;
}

.my-message{
    align-self:flex-end;
}